# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Pack

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        include:
          - rid: win-x64
            os: windows-latest
          - rid: osx-x64
            os: macOS-14
          - rid: osx-arm64
            os: macOS-14
          - rid: linux-x64
            os: ubuntu-slim

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      
      - name: Build Packages
        shell: bash
        run: |
          rm -r CeresGpuPrebuiltExternalTools/runtimes
          dotnet build -c Release -p:RidsToBuild=${{ matrix.rid }}

      - name: Upload Binary as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: 'runtimes-${{ matrix.rid }}'
          # A file, directory or wildcard pattern that describes what to upload
          path: '${{ github.workspace }}/CeresGpuPrebuiltExternalTools/runtimes'
          if-no-files-found: error

  pack:
    name: Create NuGet Package
    runs-on: [ubuntu-latest]
    needs: build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      
      - name: Pull Artifacts
        uses: actions/download-artifact@v4
        with:
          # Destination path
          path: '${{ github.workspace }}/artifacts'
      
      - name: Package
        shell: bash
        run: |
          cd "${GITHUB_WORKSPACE}"
          ls -R artifacts
          rm -r CeresGpuPrebuiltExternalTools/runtimes/
          mkdir CeresGpuPrebuiltExternalTools/runtimes/
          mv "artifacts/runtimes-win-x64/win-x64" "CeresGpuPrebuiltExternalTools/runtimes/win-x64"
          mv "artifacts/runtimes-osx-x64/osx-x64" "CeresGpuPrebuiltExternalTools/runtimes/osx-x64"
          mv "artifacts/runtimes-osx-arm64/osx-arm64" "CeresGpuPrebuiltExternalTools/runtimes/osx-arm64"
          mv "artifacts/runtimes-linux-x64/linux-x64" "CeresGpuPrebuiltExternalTools/runtimes/linux-x64"
          ls -R CeresGpuPrebuiltExternalTools/runtimes/
          dotnet pack -c Release -p:SkipNativeBuilds=true

      - name: Upload Package as Artifact
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: 'nuget_package' # optional, default is artifact
          # A file, directory or wildcard pattern that describes what to upload
          path: 'CeresGpuPrebuiltExternalTools/bin/Release/CeresGpuPrebuiltExternalTools.*.nupkg'
          if-no-files-found: error
